*, *::before, *::after {box-sizing: border-box}

html {
    -webkit-text-size-adjust: 100%;
    font-size: 8px;
}

body {
    font-size: 2rem;
    line-height: 1.25;
    margin: 0;
    /* padding: 2rem; */
    font-family: 'Instrument Sans', Helvetica, sans-serif;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    overflow: hidden;
    /* height: 100svh; */
}

::selection {
    background-color: #000;
    color: #fff;
}

p {
    margin: 0;
}

em {
    font-style: normal;
    color:hsl(0 0 70);
}

ul {
    margin: 0;
    padding-left: 3rem;
    list-style: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

textarea {
    resize: none;
    height: 30rem;
    border: 1px solid #fff;
}

textarea, input {
    padding: 1rem;
    border-radius: 0;
    font-size: 2rem;
    font-family: inherit;
    min-height: 32px;
    margin-bottom: 1rem;
}

input {
    border: 0;
    border-bottom: 1px solid #fff;
}

textarea:active, textarea:focus {
    outline: none;
    border-color: hsl(0 0 70);
}

input:active, input:focus {
    outline: none;
    border-bottom-color: hsl(0 0 70);
}

label {
    color: hsl(0 0 50);
}

.page-slider-viewport {
    position: relative;
    width: 100vw;
    height: 100svh;
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: pan-y;
}

.page-slider {
    display: flex;
    width: calc(200vw - 4rem);
    transition: transform 0.32s cubic-bezier(0.2, 0.9, 0.2, 1);
    will-change: transform;
}

.page {
    flex: 0 0 calc(100vw - 4rem);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

.page-home {
    position: relative;
}

.home {
    position: relative;
    z-index: 1;
    padding: 2rem;
    /* margin-bottom: 5rem; */
}

.contacts {
    display: grid;
    margin-top: 3rem;
    margin-bottom: 48rem;
}

.contact {
    position: relative;
    z-index: 1;
    flex: 1 0 auto;
    padding: 3rem 2rem;
    background-color: hsl(0 0 90);
}

.contact-tab {
    position: relative;
    z-index: 1;
    width: fit-content;
    height: 4rem;
    padding-inline: 1rem;
    background-color: hsl(0 0 90);
    display: flex;
    align-items: center;
}

.page-work {
    background-color: #fff;
    color: #000;
    padding: 0;
}

.work-cases {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.work-case {
    padding: 2rem;
}

.work-case img {
    display: block;
    width: calc(100% + 2rem);
    height: auto;
    margin-top: 2rem;
    margin-right: -2rem;
    margin-bottom: -2rem;
}

.nav-bar {
    flex: 0 0 4rem;
    width: 4rem;
    height: 100svh;
    position: sticky;
    top: 0;
    align-self: stretch;
    /* background-color: hsl(0 0 90); */
    display: flex;
    flex-direction: column;
}

.nav-bar-home {
    flex: 0 0 4rem;
    width: 4rem;
    height: 4rem;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
    line-height: 1;
    padding-bottom: 7px;
}

.nav-bar-case {
    flex: 0 0 auto;
    overflow: clip;
    writing-mode: vertical-rl;
    padding-inline: 1rem;
    padding-block: 5px;
}

.nav-bar-contact {
    flex: 0 0 auto;
    margin-top: auto;
    background-color: hsl(0 0 90);
    writing-mode: vertical-rl;
    padding-inline: 1rem;
    padding-block: 5px;
    cursor: pointer;
}